@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.card {
  width: 80%;
  margin: auto;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
  animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template: 2fr 1fr 10fr 1fr /6fr 1fr;

  grid-template-areas:
    'header header'
    'nav nav'
    'main sidebar'
    'footer footer';
}

@media only screen and (max-width: 800px) {
  .App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template: 2fr 1fr 10fr 1fr /6fr 1fr;
    grid-template-areas:
      'header header'
      'nav nav'
      'main main'
      'footer footer';
  }

  .card {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  ul {
    width: 100%;
  }
}

#img {
  box-shadow: 1px 2px 1px grey;
}

html {
  overflow-y: scroll;
}

.someText {
  font-family: 'Courier New';
}

header {
  grid-area: header;
}

.header {
  background: url('../src/images/jonathan-riley-118591-unsplash.jpg');
  background-size: 1900px 300px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

nav {
  grid-area: nav;

  display: flex;
}

main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(228, 238, 238, 0.753);
  z-index: -1;
}

footer {
  grid-area: footer;
  color: white;
  background-color: rgba(3, 5, 4, 0.925);
}

.articles {
  grid-area: main;
}

.App-link {
  color: #61dafb;
}

.headerText {
  font-family: 'Passion One', cursive;
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: rgb(79, 12, 202);
}

.oswald {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

k {
  color: rgba(234, 242, 243, 0.849);
}
